<!-- Подвал -->
<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="footer__logo">
        <a href="#" class="logo logo--header">
          <img src="assets/img/logo.svg">
          <p><span>RUSPOEZD</span>
            <br>Дешевые авиа<br>
            и ж/д билеты
          </p>
        </a>
      </div>
      <!-- /.footer__logo -->
      <div class="footer__nav">
        <nav class="nav nav--header">
          <ul class="nav__list">
            <li class="nav__item dropdown-nav active">
              <a href="" class="link nav__link">Билеты</a>
            </li>
            <li class="nav__item dropdown-nav">
              <a href="" class="link nav__link">Новости</a>
            </li>
            <li class="nav__item dropdown-nav">
              <a href="" class="link nav__link">Статьи</a>
            </li>
          </ul>
        </nav>
        <!-- /.nav -->
      </div>
      <!-- /.footer__nav -->
      <div class="footer__copy">
        © 2024, Ruspoezd<br><span>Создание сайта - <a href="https://artfactor.ru" target="_blanc">Артфактор</a></span>
      </div>
      <!-- /.footer__copy -->
    </div>
    <!-- /.footer -->
  </div>
  <!-- /.container -->
</footer>

<!-- Скрипты -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="  crossorigin="anonymous"></script>
<script src="js/libraries/slick.min.js"></script>
<!-- build:js js/bundle.min.js -->
<script src="temp/bundle.js"></script>
<!-- endbuild -->
</body>

</html>