<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Базовые мета-теги для поисковиков -->
  <title>Ruspoezd.ru</title>

  <!-- Иконки для страницы -->

  <link rel="icon" href="assets/misc/favicons/favicon.svg" type="image/svg+xml">

  <!-- Метатеги которые выводят информацию о странице в поисковой запрос -->
  <meta name="description" content="описание не длиннее 155 символов" />
  <meta name="keywords" content="мета-теги, шаблон, html, css, acr0matic" />

  <!-- Метатеги для ссылок в социальных сетях -->
  <meta property="og:locale" content="ru_RU" />
  <meta property="og:title" content="">
  <meta property="og:description" content="" />
  <meta property="og:image" content="">

  <!-- Контролирует поведение поисковых систем при индексации страницы -->
  <meta name="robots" content="index,follow" />

  <!-- Покраска адресной строки в мобильных Chrome, Firefox OS и Opera -->
  <meta name="theme-color" content="#eeeeee" />

  <!-- Покраска для iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#4285f4">

  <!-- Убрать автоматическое определение номера телефона -->
  <meta name="format-detection" content="telephone=no">

  <!-- Место для счетков и аналитики -->

  <!-- Место для счетков и аналитики -->

  <!-- Стили -->
  <!-- build:css css/style.min.css -->
  <link rel="stylesheet" href="temp/bundle.css" />
  <link rel="stylesheet" href="temp/style.css" />
  <!-- endbuild -->
</head>

<body class="page">
  <header id="header" class="header small">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__wrapper-top">
          <div class="header__logo">
            <a href="#" class="logo logo--header">
              <img src="assets/img/logo.svg">
              <p><span>RUSPOEZD</span>
                <br>Дешевые авиа<br>
                и ж/д билеты
              </p>
            </a>
          </div>
          <!-- /.header__logo -->

          <div class="header__nav">
            <nav class="nav nav--header">
              <ul class="nav__list">
                <li class="nav__item dropdown-nav active current-menu-item">
                  <a href="" class="link nav__link">Билеты</a>
                </li>
                <li class="nav__item dropdown-nav">
                  <a href="" class="link nav__link">Новости</a>
                </li>
                <li class="nav__item dropdown-nav">
                  <a href="" class="link nav__link">Статьи</a>
                </li>
              </ul>
            </nav>
            <!-- /.nav -->
          </div>
          <!-- /.header__nav -->
        </div>
        <!-- /.header__wrapper-top -->
        <div class="header__title">Поиск дешевых
авиа и ж/д билетов
        </div>
        <!-- /.header__title -->
        <div class="header__order">
          <picture class="lazy">
            <img alt="" class="image image--contain lazy__item lazy__item--blur" data-src="assets/img/layout/global/order-tickets.jpg" src="">
          </picture>
        </div>
        <!-- /.header__order -->
      </div>
      <!-- /.header__wrapper -->
    </div>
    <!-- /.container -->
  </header>