<div class="swiper1 swiper">
  <div class="swiper-wrapper">
    <div class="popular__card swiper-slide">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image" data-src="assets/img/layout/popular/01.jpg" src="assets/img/layout/popular/01.jpg"
            loading="lazy">
        </picture>
        <div class="popular__card-price">
          от 2000 ₽
        </div>
        <!-- /.popular__card-price -->
        <div class="popular__card-text">
          <p>MSK</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">SPB</p>
        </div>
        <div class="popular__card-text">
          <p><span>Москва</span></p>
          <p class="second"><span>Санкт-Петербург</span></p>
        </div>

        <!-- /.popular__card-text -->
      </a>
    </div>
    <!-- /.popular__card -->


    <div class="popular__card swiper-slide">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image" data-src="assets/img/layout/popular/02.jpg" src="assets/img/layout/popular/02.jpg"
            loading="lazy">
        </picture>
        <div class="popular__card-price">
          от 1500 ₽
        </div>
        <!-- /.popular__card-price -->
        <div class="popular__card-text">
          <p>MSK</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">NYZ</p>
        </div>
        <div class="popular__card-text">
          <p><span>Москва</span></p>
          <p class="second"><span>Нижний Новгород</span></p>
        </div>

        <!-- /.popular__card-text -->
      </a>
    </div>
    <!-- /.popular__card -->

    <div class="popular__card swiper-slide">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image" data-src="assets/img/layout/popular/03.jpg" src="assets/img/layout/popular/03.jpg"
            loading="lazy">
        </picture>
        <div class="popular__card-price">
          от 3000 ₽
        </div>
        <!-- /.popular__card-price -->
        <div class="popular__card-text">
          <p>MSK</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">KZN</p>
        </div>
        <div class="popular__card-text">
          <p><span>Москва</span></p>
          <p class="second"><span>Казань</span></p>
        </div>
        <!-- /.popular__card-text -->
      </a>
    </div>
    <!-- /.popular__card -->

    <div class="popular__card swiper-slide">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image" data-src="assets/img/layout/popular/04.jpg" src="assets/img/layout/popular/04.jpg"
            loading="lazy">
        </picture>
        <div class="popular__card-price">
          от 2200 ₽
        </div>

        <div class="popular__card-text">
          <p>MSK</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">BZK</p>
        </div>
        <div class="popular__card-text">
          <p><span>Москва</span></p>
          <p class="second"><span>Брянск</span></p>
        </div>

      </a>
    </div>
    <!-- /.popular__card -->

  </div>
  <!-- /.swiper-wrapper -->
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-button swiper-button-next"></div>
</div>
<!-- /.swiper -->




