<div class="wrapper">
  <div class="slider">

    <div class="popular__card slider__item">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image image--contain lazy__item lazy__item--blur" data-src="assets/img/layout/popular/01.jpg" src="">
        </picture>
        <div class="popular__card-price">
          от 2000 ₽
        </div>
        <!-- /.popular__card-price -->
        <div class="popular__card-text">
          <p>MSK</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">SPB</p>
        </div>
        <div class="popular__card-text">
          <p><span>Москва</span></p>
          <p class="second"><span>Санкт-Петербург</span></p>
        </div>

        <!-- /.popular__card-text -->
      </a>
    </div>
    <!-- /.popular__card -->


    <div class="popular__card slider__item">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image image--contain lazy__item lazy__item--blur" data-src="assets/img/layout/popular/02.jpg" src="">
        </picture>
        <div class="popular__card-price">
          от 1500 ₽
        </div>
        <!-- /.popular__card-price -->
        <div class="popular__card-text">
          <p>MSK</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">NYZ</p>
        </div>
        <div class="popular__card-text">
          <p><span>Москва</span></p>
          <p class="second"><span>Нижний Новгород</span></p>
        </div>

        <!-- /.popular__card-text -->
      </a>
    </div>
    <!-- /.popular__card -->

    <div class="popular__card slider__item">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image image--contain lazy__item lazy__item--blur" data-src="assets/img/layout/popular/03.jpg" src="">
        </picture>
        <div class="popular__card-price">
          от 3000 ₽
        </div>
        <!-- /.popular__card-price -->
        <div class="popular__card-text">
          <p>MSK</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">KZN</p>
        </div>
        <div class="popular__card-text">
          <p><span>Москва</span></p>
          <p class="second"><span>Казань</span></p>
        </div>
        <!-- /.popular__card-text -->
      </a>
    </div>
    <!-- /.popular__card -->

    <div class="popular__card slider__item">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image image--contain lazy__item lazy__item--blur" data-src="assets/img/layout/popular/04.jpg" src="">
        </picture>
        <div class="popular__card-price">
          от 2200 ₽
        </div>
        <!-- /.popular__card-price -->
        <div class="popular__card-text">
          <p>MSK</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">BZK</p>
        </div>
        <div class="popular__card-text">
          <p><span>Москва</span></p>
          <p class="second"><span>Брянск</span></p>
        </div>
        <!-- /.popular__card-text -->
      </a>
    </div>
    <!-- /.popular__card -->

    <div class="popular__card slider__item">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image image--contain lazy__item lazy__item--blur" data-src="assets/img/layout/popular/05.jpg" src="">
        </picture>
        <div class="popular__card-price">
          от 5500 ₽
        </div>
        <!-- /.popular__card-price -->
        <div class="popular__card-text">
          <p>MSK</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">KRR</p>
        </div>
        <div class="popular__card-text">
          <p><span>Москва</span></p>
          <p class="second"><span>Краснодар</span></p>
        </div>
        <!-- /.popular__card-text -->
      </a>
    </div>
    <!-- /.popular__card -->

    <div class="popular__card slider__item">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image image--contain lazy__item lazy__item--blur" data-src="assets/img/layout/popular/06.jpg" src="">
        </picture>
        <div class="popular__card-price">
          от 5800 ₽
        </div>
        <!-- /.popular__card-price -->
        <div class="popular__card-text">
          <p>SOC</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">KRR</p>
        </div>
        <div class="popular__card-text">
          <p><span>Сочи</span></p>
          <p class="second"><span>Краснодар</span></p>
        </div>
        <!-- /.popular__card-text -->
      </a>
    </div>
    <!-- /.popular__card -->

    <div class="popular__card slider__item">
      <a href="#">
        <picture class="lazy">
          <img alt="" class="image image--contain lazy__item lazy__item--blur" data-src="assets/img/layout/popular/06.jpg" src="">
        </picture>
        <div class="popular__card-price">
          от 5800 ₽
        </div>
        <!-- /.popular__card-price -->
        <div class="popular__card-text">
          <p>SOC</p>
          <img src="assets/img/layout/global/arrows.svg">
          <p class="second">KRR</p>
        </div>
        <div class="popular__card-text">
          <p><span>Сочи</span></p>
          <p class="second"><span>Краснодар</span></p>
        </div>
        <!-- /.popular__card-text -->
      </a>
    </div>
    <!-- /.popular__card -->


  </div>
</div>