<div class="page__pagination">
  <div class="container">
    <div class="pagination">
      <nav class="pagination__nav">
        <ol>
          <li><a class="prev" href=""></a></li>
          <li><span class="current">3</span></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a class="next" href=""></a></li>
        </ol>
      </nav>
      <!-- /.pagination__nav -->
    </div>
    <!-- /.pagination -->
  </div>
  <!-- /.container -->
</div>
<!-- /.page__pagination -->