<div class="popular__card">
  <a href="#">
    <picture class="lazy">
      <img alt="" class="image image--contain lazy__item lazy__item--blur" data-src="{{ image }}" src="">
    </picture>
    <div class="popular__card-price">
      {{ price }}
    </div>
    <!-- /.popular__card-price -->
    <div class="popular__card-text">
      <p>{{ from-big }}<span>{{ from }}</span></p>
      <img src="/src/assets/img/layout/global/arrows.svg">
      <p class="second">{{ to-big }}<span>{{ to }}</span></p>
    </div>
    <!-- /.popular__card-text -->
  </a>
</div>
<!-- /.popular__card -->