// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-black: #000000;
$palette-primary: #222222;
$palette-blue: #1964ff;

// Цветовая палитра текста
$color-text__primary: #222222;
$color-text__black: #000000;
$color-text__white: #ffffff;
$color-text__blue: #1964ff;

$link-hover-color: #222222 !default;
