.pagination {
  display: flex;
  justify-content: center;

  &__nav {
    @include breakpoint($breakpoint-tablet) {
      display: block;
      width: 100%;
    }

    display: inline-block;

    ol {
      @include breakpoint($breakpoint-tablet) {
        justify-content: space-between;
      }

      display: flex;
      align-items: center;
    }

    li {
      @include breakpoint($breakpoint-tablet) {
        width: auto;
      }

      width: 100px;
      text-align: center;

      span.current {
        color: $color-text__blue;
        font-weight: 500;
      }
    }

    a {
      position: relative;
      display: block;
      padding: 18px 0;
      transition: $transition-time ease;

      @media (hover: hover) {
        &:hover {
          color: $color-text__blue;
        }
      }

      &.prev::after,
      &.next::after {
        @include breakpoint($breakpoint-tablet) {
          width: 40px;
          height: 40px;
        }

        content: "";
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: $transition-time ease;
      }

      &.prev {
        @media (hover: hover) {
          &:hover::after {
            transform: translateX(-12px);
          }
        }

        &::after {
          background-image: url("../assets/img/layout/global/arrow-left-blue.svg");
        }
      }

      &.next {
        @media (hover: hover) {
          &:hover::after {
            transform: translateX(12px);
          }
        }

        &::after {
          background-image: url("../assets/img/layout/global/arrow-right-blue.svg");
        }
      }

      &.current {
        &::after {
          @include breakpoint($breakpoint-tablet) {
            top: -7px;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
}
