@@include('layout/partials/header.html')

<!-- Основной контент -->
<main>
  <div id="home-page" class="page__body">

    <section class="popular">
      <div class="container">
        <h2>Популярные направления</h2>

          @@include('layout/partials/slider.html')

      </div>
      <!-- /.container -->


      <div class="container">
        <h2>Популярные авиа-направления</h2>

          @@include('layout/partials/slider-avia.html')

      </div>
      <!-- /.container -->

      <div class="container">
        <h2>Популярные автобусные-направления</h2>

          @@include('layout/partials/slider-auto.html')

      </div>
      <!-- /.container -->


    </section>
    <!-- /.popular -->

    <section class="advantages">
      <div class="container">
        <h2>Преимущества покупки билетов<br>на официальном сайте компании Туту.ру:</h2>

        <div class="advantages__card-wrapper">

          <div class="advantages__card">
            <div class="advantages__card-text">
              <!-- <img class="advantages__card-marker" src="/src/assets/img/layout/advantages/marker.svg"> -->
              <p>Рейтинг поездов дальнего следования составлен на основе оценок и отзывов пассажиров, которые реально совершили поездку в конкретном типе вагона конкретного поезда.</p>
            </div>
            <!-- /.advantages__card-text -->
          </div>
          <!-- /.advantages-card -->

          <div class="advantages__card">
            <div class="advantages__card-text">
              <p>Выбор мест осуществляется по схеме вагона, оформление заказа и оплата онлайн — с подсказками на всех этапах приобретения билетов.</p>
            </div>
            <!-- /.advantages__card-text -->
          </div>
          <!-- /.advantages-card -->

          <div class="advantages__card">
            <div class="advantages__card-text">
              <p>На схеме вагона показывается пол и возраст людей, уже купивших билеты на соседние места, если, конечно, они дали согласие опубликовать эти данные. Это является важным критерием при выборе места.</p>
            </div>
            <!-- /.advantages__card-text -->
          </div>
          <!-- /.advantages-card -->

          <div class="advantages__card">
            <div class="advantages__card-text">
              <p>Если по вашему направлению нет прямых поездов, Туту.ру предложит вам варианты поездок с пересадкой.</p>
            </div>
            <!-- /.advantages__card-text -->
          </div>
          <!-- /.advantages-card -->

          <div class="advantages__card">
            <div class="advantages__card-text">
              <p>Вы можете легко осуществить возврат железнодорожных билетов в Личном кабинете на сайте сервиса или в приложении. А оформить возврат с минимальными денежными потерями поможет услуга «100%-й возврат билета по любой причине» (подключается перед оплатой билета).</p>
            </div>
            <!-- /.advantages__card-text -->
          </div>
          <!-- /.advantages-card -->

          <div class="advantages__card">
            <div class="advantages__card-text">
              <p>На официальном сайте Туту.ру есть актуальное расписание пригородных поездов и электричек по 50 регионам.</p>
            </div>
            <!-- /.advantages__card-text -->
          </div>
          <!-- /.advantages-card -->

          <div class="advantages__card">
            <div class="advantages__card-text">
              <p>Если продажи билетов на ваш поезд еще не открылись или все билеты уже раскуплены, вы можете указать параметры билета, привязать карту, и когда билет появится, сотрудники сервиса сами выкупят его для вас.</p>
            </div>
            <!-- /.advantages__card-text -->
          </div>
          <!-- /.advantages-card -->

          <div class="advantages__card">
            <div class="advantages__card-text">
              <p>Покупая билеты на Туту.ру, вы получаете скидку на следующую поездку.</p>
            </div>
            <!-- /.advantages__card-text -->
          </div>
          <!-- /.advantages-card -->

          <div class="advantages__card">
            <div class="advantages__card-text">
              <p>За 3 часа до отправления поезда днем, или за 1,5 часа ночью, вы получите СМС с напоминанием о поездке и информацией из билета. Вы не опоздаете на поезд, подписавшись на СМС-информирование.</p>
            </div>
            <!-- /.advantages__card-text -->
          </div>
          <!-- /.advantages-card -->
        </div>
        <!-- /.advantages-wrapper -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.advantages -->
  </div>
  <!-- /.page__body -->
</main>

@@include('layout/partials/footer.html')