@@include('layout/partials/header.html')

<!-- Основной контент -->
<main>
  <div id="home-page" class="page__body">

    <section class="page__stat">
      <div class="container">
        <div class="page__stat-back">
          <a href="#"><span>Назад</span></a>
        </div>
        <!-- /.page__stat-back -->

      <div class="page__stat-info">
        <picture class="lazy">
          <img alt="" class="image image--contain lazy__item lazy__item--blur"
            data-src="assets/img/layout/stats/01.jpg" src="">
        </picture>
        <h1>Заголовок статьи в две строки строки строки строки</h1>
        <p>
          Московская железная дорога — филиал акционерного общества "Российские железные дороги". Работает на территории Центрального федерального округа, занимаясь перевозкой грузов и пассажиров. Ежегодно перевозит более 770 миллионов пассажиров и 72 миллионов тонн грузов.</p>
        <p>В состав МЖД также две кольцевые линии столицы, это Малое центральное кольцо и Московские центральные диаметры, которые созданы на базе существующей ее инфраструктуры.</p>
      <p>МЖД постоянно совершенствуется, расширяя свои возможности и предоставляя своим клиентам большой спектр услуг.</p>

    <p>Первоначально носила наименование Московско-Курско-Донбасская железная дорога и только в 1966 году, через 7 лет после образования, получила название Московская железная дорога, под которым работает в настоящее время.</p>
  <p>Протяженность магистрали более 13 тысяч километров и на ней работает более 60 тысячи работников, средняя заработная плата которых составляет чуть более 60 тысячи рублей в месяц. Это меньше средней зарплаты по Москве, но далеко не все сотрудники МЖД проживают в столице, таким образом у большинства зарплата может даже превышать средний размер зарплаты по региону проживания. Ежедневно на полигоне дороги отправляется более 300 пассажирских поездов</p>

<p>около 1000 грузовых и 3000 пригородных составов. Среди них современные «Ласточки», «Иволги», «Спутники», «Стрижи», аэроэкспрессы, межобластные экспрессы, рельсовые автобусы. Самым скоростным из них является "Сапсан", который развивает скорость 250 км/час, он курсирует по маршруту Москва-Санкт-Петербург и был запущен 26 декабря 2009 года.</p>

<p>Интервал движения электричек по самым популярным направлениям (Ярославское, Горьковское, Рязанское, Курское) в период наибольшей загрузки (часы пик) составляет менее 5 минут и движение осуществляется параллельно по трем-четырем путям, что и позволяет удерживать короткий интервал.</p>
<p>25% дальних пассажирских перевозок, осуществляемых железнодорожным транспортом России приходится на Московскую магистраль, кроме этого ею же осуществляется и 64% пригородных перевозок в стране.</p>

<p>Среди филиалов РЖД Московская дорога занимает седьмое место по общему объему перевози, грузов в контейнерах - третье место. При этом номенклатура перевозимых грузов составляет более 34 позиций, из них более доходными являются нефтеналивные перевозки, различные по объему контейнеры, автомобили, различная продукция промышленных предприятий. Особое место в этом списке занимает зерно, его перевозится в пределах 10% от всего собранного в стране урожая. Наибольший объем грузов перевозится в Орловско-Курском регионе, так как на его территории работают крупные предприятия металлургической и горнодобывающей промышленности Российской Федерации, обеспечивая бесперебойную их работу и отгрузку их готовой продукции.</p>

<p>МЖД тесно сотрудничает с НИИ железнодорожного транспорта, который на площадках данной дороги имеет свои площадки, на которых создает новые решения для данного вида транспорта, проводит научно-исследовательские и проектно-конструкторские работы. Они направлены на улучшение условий работы дороги и создание более комфортных условий для пассажиров.</p>

<p>В 2002 году здесь был запущен первый Аэроэкспресс. В настоящее время по такой линии быстро и без остановок можно добраться до аэропортов Домодедово, Шереметьево и Внуково. Это позволяет разгрузить автомобильные дороги в этих направлениях, уменьшить время в пути и сделать более комфортными условия для пассажиров.</p>

<p>Для поддержания в постоянном рабочем состоянии всей инфраструктуры МЖД ее работники регулярно повышают свою квалификацию. Обучение направлено на совершенствование профессиональных навыков и умений. Кроме этого проводится и обучение вторым профессиям. Для этого обучение может быть организовано как на рабочем месте, так и с отрывом от производства, с привлечением сторонних обучающих организаций. Для каждой категории работников внутренними документами предусмотрен своя частота обучения, так специалисты, связанные с безопасностью движения поездов проходят обучение каждые 3 года. После прохождения обучения каждый работник проходит проверку полученных знаний, для того чтобы знать, что материал усвоен.</p>

<p>Крупнейшая железнодорожная магистраль - МЖД состоит из 8 регионов - Москва, Московская область, Рязань, Тула, Орел, Смоленск, Брянск и Калуга, а также 8 вокзалов Москвы.</p>

<p>Кроме этого в ее структуру входят:</p>

<ul>
  <li>В составе МЖД 15 моторвагонных депо, которые обслуживают моторвагонный подвижной состав, в том числе электропоезда. Из них 12 таких депо на Мосузле и 3 в регионах.
    эксплуатационные локомотивные депо, их 15, входят в Московскую дирекцию тяги, являясь структурным подразделением этой диреции;</li>
    <li>Времонтные локомотивные депо, их всего 11, в том числе 3 тепловозных депо. Они являются структурным подразделением Московской дирекции по ремонту тягового подвижного состава;</li>
    <li>В эксплуатационные вагонные депо, всего 9 таких депо, входят в состав Московской дирекции инфраструктуры, являясь ее структурными подразделениями;</li>
    <li>Ввагонные ремонтные депо. Они в составе 13 подразделений входят в состав вагоноремонтных компаний, в том числе компанию-1, 2, 3, Дальневосточную ремонтную компанию, Новую вагоноремонтную компанию, ранее до 01 июля 2011 года входили в состав Московской дирекции по ремонту грузовых вагонов;</li>
    <li>Впассажирские вагонные депо, в том числе 7 депо и 3 участка, все они являются подразделениями Московского филиала ОАО "ФПК".</li>
</ul>

<p>Кроме основных обязанностей по перевозке грузов и пассажиров в обязанности МЖД входят и иные функции, которые обеспечивают оперативное решение возникающих проблем. Например, в 2012 году создан Технологический центр управления пригородным пассажирским комплексом, он обеспечивает гарантированное исполнение технологических процессов, обеспечение безопасности перевозок, предоставление пассажирам транспортных услуг надлежащего качества. Для обеспечения информационной безопасности функционирует региональный центр безопасности.</p>
<p>Для обеспечения соблюдения и при необходимости корректировки графика движения составом по дороге работает Диспетчесрский центр. Кроме этого для оперативного решения вопросов функционирования МЖД созданы и иные подразделения, а также библиотеки.
        </p>

      </div>
      <!-- /.stat__info -->



      </div>
      <!-- /.container -->
    </section>
    <!-- /.stats -->


  </div>
  <!-- /.page__body -->
</main>

@@include('layout/partials/footer.html')