@@include('layout/partials/header.html')

<!-- Основной контент -->
<main>
  <div id="home-page" class="page__body">

    <section class="stats">
      <div class="container">
        <h1>Статьи</h1>

        <div class="stats__card-wrap">

          <div class="stats__card">
            <picture class="lazy">
              <img alt="" class="image image--contain lazy__item lazy__item--blur"
                data-src="assets/img/layout/stats/01.jpg" src="">
            </picture>
            <!-- /.stats__card-date -->
            <div class="stats__card-title">
              Заголовок статьи в две строки строки строки строки
            </div>
            <!-- /.stats__card-title -->
            <div class="stats__card-text">
              На схеме вагона показывается пол и возраст людей, уже купивших билеты на соседние места, если, конечно, они дали согласие опубликовать эти данные. Это является важным критерием при выборе места.
            </div>
            <!-- /.stats__card-text -->
            <a href="#">Подробнее</a>
          </div>
          <!-- /.stats__card -->

          <div class="stats__card">
            <picture class="lazy">
              <img alt="" class="image image--contain lazy__item lazy__item--blur"
                data-src="assets/img/layout/stats/02.jpg" src="">
            </picture>
            <!-- /.stats__card-date -->
            <div class="stats__card-title">
              Заголовок статьи в одну строку
            </div>
            <!-- /.stats__card-title -->
            <div class="stats__card-text">
              На схеме вагона показывается пол и возраст людей, уже купивших билеты на соседние места, если, конечно, они дали согласие опубликовать эти данные. Это является важным критерием при выборе места.
            </div>
            <!-- /.stats__card-text -->
            <a href="#">Подробнее</a>
          </div>
          <!-- /.stats__card -->

          <div class="stats__card">
            <picture class="lazy">
              <img alt="" class="image image--contain lazy__item lazy__item--blur"
                data-src="assets/img/layout/stats/01.jpg" src="">
            </picture>
            <!-- /.stats__card-date -->
            <div class="stats__card-title">
              Заголовок статьи в две строки строки строки строки
            </div>
            <!-- /.stats__card-title -->
            <div class="stats__card-text">
              На схеме вагона показывается пол и возраст людей, уже купивших билеты на соседние места, если, конечно, они дали согласие опубликовать эти данные. Это является важным критерием при выборе места.
            </div>
            <!-- /.stats__card-text -->
            <a href="#">Подробнее</a>
          </div>
          <!-- /.stats__card -->

          <div class="stats__card">
            <picture class="lazy">
              <img alt="" class="image image--contain lazy__item lazy__item--blur"
                data-src="assets/img/layout/stats/02.jpg" src="">
            </picture>
            <!-- /.stats__card-date -->
            <div class="stats__card-title">
              Заголовок статьи в одну строку
            </div>
            <!-- /.stats__card-title -->
            <div class="stats__card-text">
              На схеме вагона показывается пол и возраст людей, уже купивших билеты на соседние места, если, конечно, они дали согласие опубликовать эти данные. Это является важным критерием при выборе места.
            </div>
            <!-- /.stats__card-text -->
            <a href="#">Подробнее</a>
          </div>
          <!-- /.stats__card -->




        </div>
        <!-- /.stats__card-wrap -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.stats -->

    @@include('layout/blocks/pagination.html')

  </div>
  <!-- /.page__body -->
</main>

@@include('layout/partials/footer.html')